#Service
# Service name must be identical to service unit filename
SERVICE_NAME="pyProject.service"
# User service will be run as
SERVICE_USER=user
# Logging file directory (Include tailing '/')
SERVICE_LOG_PATH="/var/log/${SERVICE_NAME}/"

# OpenHab
URL="https://example.com/rest/"
User="user"
Pass="secret"
# The item this script is controlling
OHItem="testswitch"

# Delay between updates sent to server while active
UPDATE_RATE=1

# Seconds to stay active since last input
ACTIVETIMEOUT=5
# main loop rate while active
ACTIVE_RATE=0.5
# main loop rate while inactive
INACTIVE_RATE=1

# Encoder Pins
A_PIN=7
B_Pin=9
SW_Pin=11

# Logging output locations ('True' or 'False')
LOGGING_ENABLE_FILE=True
LOGGING_ENABLE_CONSOLE=False
LOGGING_ENABLE_JOURNAL=True